---
name: Integration Test

on:
  pull_request:
    branches:
      - main

jobs:
  integration:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1

      - name: Run Integration Test
        run: make setup && make integration-test
        env:
          TFLOCAL: terraform